// Import page-specific CSS files here.
@import "home";
@import "show";

.filters button {
  border-radius: 75px;
}

.dual-input {
  display: flex;
}

h5 {
  font-size: 15px;
}

#price-card, #type-card {
  position: absolute;
}

.main-container {
  position: relative;
}

#price-card {
  border-radius: 10px;
}

#save-price {
  border-radius: 20px;
}

#save-type {
  border-radius: 20px;
}

#minimum-price {
  border-radius: 20px;
}

#maximum-price {
  border-radius: 20px;
}
