// Import page-specific CSS files here.
@import "home";
@import "show";

.filters button {
  border-radius: 75px;
}

.dual-input {
  display: flex;
}

h5 {
  font-size: 15px;
}

#price-card, #type-card {
  position: absolute;
  z-index: 1;
}

.main-container {
  position: relative;
}

#price-card, #type-card, #save-price, #save-type, #minimum-price, #maximum-price {
  border-radius: 20px;
}

