.title h1 {
  margin-bottom: 4px !important;
}

.border-bottom h1 {
  display: inline-block;
}

.border-bottom h3 {
  display: inline-block;
}

.short-description {
  margin-top: 5px !important;
}

.stars {
  display: inline-block;
}

.carousel-item .carousel-style img {
  border-radius: 0px;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

#confirmation-card {
  border-radius: 5px 5px 0px 0px;
  position: sticky;
  top: 100px;
}

.card-description {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-top: 20px;
}

.thin-border-top {
  border-top: 1px solid rgb(221, 221, 221);
}
