.title h1 {
  margin-bottom: 4px !important;
}

.short-description h5  {
  display: inline-block;
  margin-left: 20px;
}

.short-description {
  margin-top: 5px !important;
  background: white;
}

.stars {
  display: inline-block;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

#confirmation-card {
  border-radius: 5px 5px 0px 0px;
}
