<div class= "card-booking">
  <div class="container">
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4">
        <div class="card" id="card-booking">
          <div class="justify-content-center">
            <%= simple_form_for [@flat, @booking ] do |f| %>
              <h4>Start Date</h4>
              <%= f.input :start_date, as: :date, html5: true, label: false %>
              <h4>End Date </h4>
              <%= f.input :end_date, as: :date, html5: true, label: false %>
              <%= f.submit "Book now", class: "btn btn-outline-success w-100" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
