 <div class="card" style="width: 20rem;">
    <div style ="height: 12rem;">
      <img style ="height: 100%;" src="<%= url %>" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
      <h3 class="card-title"><%= title %></h3>
      <p class="card-text"><%= text %></p>
      <a href="#" class="btn btn-outline-primary w-100">See apartments</a>
    </div>
  </div>

