.container {
  padding-top: 16px;
}

.card {
  border-radius: 15px 15px 6px 6px;
}


.card img {
    border-radius: 15px 15px 0px 0px;
}

.card-booking .col-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-booking {
  border-radius: 4px 4px 0px 0px;
  padding: 50px;
}

.card-trip {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card-trip .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.card-trip h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.card-trip p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
}

.card-trip h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

