.container {
  padding-top: 16px;
}

.card {
  border-radius: 25px;
}


.card img {
    border-radius: 25px 25px 0px 0px;
}


.review-card {
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

.review-content {
  display: flex;
  align-items: center;
}

.review-avatar {
  border-radius: 50%;
  width: 50px;
  vertical-align: text-top;
}
