.container {
  padding-top: 16px;
}

.card {
  border-radius: 15px 15px 6px 6px;
}


.card img {
    border-radius: 15px 15px 0px 0px;
}

.card-booking .col-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-booking {
  border-radius: 4px 4px 0px 0px;
  padding: 50px;
}
