.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 16px;
}

#map {
height: 88vh;
position: sticky;
top: 80px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  margin-right: 16px;
}

.card-flat {
  background-color: white;
  width: 25rem;
}

.card-flat {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 25rem;
}

.card-flat .card-flat-infos {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.card-flat h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.card-flat .card-flat-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.card-flat p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
}


.filters {
  margin: 16px;
}
